*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: var(--fontfamily);
    font-weight: 400;
    font-size: var(--fontsize);
    color: var(--c-brand);
    line-height: var(--lineheight);
    background-color: var(--c-bg);
}

ul,
ol {
    margin-left: 1rem;
}

a {
    /* text-decoration: none; */
    color: var(--c-brand);
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: var(--c-text-light-3);
    margin-bottom: 1rem;
}

td,
th {
    border: 1px solid black;
    padding: 2px;
}

th {
    font-size: 0.8rem;
    font-weight: 700;
}

blockquote {
    background-color: #fff;
    border: 1px solid var(--c-brand);
    border-left: 5px solid var(--c-brand);
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 2rem;
    box-shadow: var(--c-box-shadow);
}

/* Video */
.video-wrapper {
    position: relative;
    z-index: 1;
    margin-top: 2rem;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}