:root {
    scroll-behavior: smooth;
    --c-start: rgb(139, 253, 139);
    --c-intermediate: rgb(255, 103, 39);
    --c-pro: rgb(44, 111, 254);
    --c-brand: #25255b;
    --c-brand-light: #f58220;
    --c-white: #deeef3;
    --c-code: #ffffff;
    --c-bg: #fbfbfb;
    --c-header-bg: #e0e0e0;
    --fontfamily: 'Helvetica Neue', 'Arial', sans-serif;
    --codefont: 'Azeret Mono', monospace;
    --lineheight: 1.8rem;
    --fontsize: 16px;
    --c-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --c-box-shadow-hover: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}